$primary-text-color: #757575; /*Главный цвет текста*/
$secondary-text-color: #212121; /*Цвет текста заголовков*/
$accent-color: #2196f3; /*Цвет акцентов*/
$white-text-color: #ffffff; /*Белый цвет текста*/
$font-family: 'Roboto', sans-serif; /*Основной шрифт */
$primary-bg-color: #ffffff; /*Главный цвет фона*/
$secondary-bg-color: #f5f4fa; /*Вторичный цвет фона*/
$primari-social-network-color: #afb1b8; /*Главный цвет соцсетей*/
$timing-function-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
